.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
 }

.murecho {
    font-family: "Murecho", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

