

  @font-face { 
    font-family: "Commissioner"; 

    src: url("../fonts/Commissioner/Commissioner-VariableFont_FLAR\,VOLM\,slnt\,wght.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 
  @font-face {
    font-family: "Murecho";
    src: url("../fonts/Murecho/Murecho-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }