footer{

    position: absolute;
    width: 100%;
    height: 458px;
    background: rgb(61, 132, 168);
    
}
.green-blue-footer{
    display: flex;

    padding-top: 106px;
    padding-left: 106px;
}
.footer-buttons{
    display: flex;
    flex-direction: column;
    justify-items: center;
    float: right;
    
    color: rgb(255, 255, 255);
    font-family: Murecho;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;

    gap: 16px;
}
#footer-buttons1{
    
    
    padding-left: 32%;
}
#footer-buttons2{
    padding-left:87px;
}
.footer-button{
    color:white;
    text-decoration: none;
}



.site-descrip{
color: rgb(255, 255, 255);
font-family: Murecho;
font-size: 20px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}

.p-site_type{
    display: flex;
    padding-left: 24%;
    flex-direction: row;
    justify-content: space-around;
}
.site-link{
    margin: 0px 8px;
}

hr{
    border: 1px solid rgb(255, 255, 255);

    position: absolute;
    width: 88%;
    height: 0;
    left: 122px;
    top: 385.5px;
}
/**/

/**/
.footer-under-descrip_and_buttons>p{
    /* Интернет-магазин “ViaR”, 2024 */
    display: flex;
}
.footer-under-descrip_and_buttons{
    

    position: absolute;
    display: flex;
    height: 24px;
    left: 122px;
    top: 394px;
    
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}

.menu-part{
    /* Footer Links */
display: flex;
width: 669px;
left: 0;
margin-left: 120%;
/* Auto layout */


gap: 12px;
padding: 0px;

}

.politic{
    display: flex;
    color:white;
}
