*{
    margin: 0;
    padding: 0;
    
}
.search-form{
    width: 572px;
    height: 40px;
    padding-left: 24px;
    
    border-radius: 5px;
    overflow: hidden;
    justify-content: flex-end;
    align-items: center;
    display: inline-flex;

    

}

.logo-div{
    height:90px;
width:92px;

}
.header{
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    z-index: 1000;

    display: flex;

    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding: 21px 260px;
    background-image:linear-gradient(0deg, rgba(70.00000342726707, 205.00000298023224, 207.00000286102295, 1) 0%,rgba(61.00000016391277, 132.0000073313713, 168.0000051856041, 1) 100%) ;
    
    
  }

.find-search_txt::placeholder{
    position: relative;
    left:10px;

color: rgb(171, 237, 216);
font-family: Poppins;
font-size: 20px;
font-weight: 900;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.find-search_txt{
    
    background-color:rgba(255, 255, 255, 1);
    color: rgb(171, 237, 216);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;

	width:572px;
	height:40px;
    outline: none;

	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;

    font-size: large;
	
    
}

.find-button{
    
    border: none;
    
}

.nav-menu-block{
    display: flex;
    gap: 3%;
    font-size: 20px;

    font-family: Murecho;
font-size: 20px;
font-weight: 600;
line-height: 150%;

text-align: left;
}
.button-class{
    display: flex;
    margin: 24px 0px;
}
.nav-batton{
    
    color: #fff;
    text-decoration: none;
    transition: color .2s linear;
}

.nav-batton:hover{
    color:#fce38a;
}
.part{
    margin-left: 10%;
}
.buttons-buy{
    
    padding: 0px 100px;
    
}
.button-buy{
    margin-left: 33px;
}
