main{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    height: 2804px;
    background: white;
}
.circle-blue{
    grid-column: 8;
    grid-row: 1; 
}
.main-block{
    
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4);
    width: 100%;
    
}
.gamepad-div{
    
    z-index: 1;
    padding-left: 60%;
    margin-top: -34%;

    
}
.place-and-gamepad{
    
}
.circle-blue>h1{
    display: inline;
    font-family: Commissioner;
    font-size: 160px;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;

    
    z-index: 1;
    
}
#first-part{
    position: absolute;

    width: 722px;
    height: 150px;
    left: 330px;
    top: 233px;

    background-image:linear-gradient( #46CDCF,#48466D ); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#second-part{position: absolute;
    width: 585px;
    height: 190px;
    left: 1050px;
    top: 233px;

    color: rgb(255, 255, 255);
    background-image:linear-gradient( #46CDCF,#48466D);
    -webkit-background-clip: text;
    -webkit-text-stroke: 12px transparent ;

}
.descrip-main{
    color: rgb(61, 132, 168);
font-family: Poppins;
font-size: 28px;
font-weight: 600;
line-height: 120%;
letter-spacing: 0px;
text-align: left;

width: 491px;
height: 102px;
position: absolute;
left: 367px;
top: 432px;
}
.button-katalog{
    position: absolute;
    width: 215px;
    height: 62px;
    left: 467px;
    top: 654px;

border-radius: 5px;
border: none;
background: linear-gradient(180.00deg, rgb(70, 205, 207),rgb(61, 132, 168) 100%);

color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 32px;
font-weight: 900;
line-height: 20px;
letter-spacing: 0px;
text-align: center;
}
.adventeges{
    
}
.plus-block{
    
    position: relative;
    align-items: center;
    width: 1197px;
    height: 280px;

    top: 35%;                        
    transform: translate(30%, -50%);    
}

.plus-block>h3{
    color: rgb(72, 70, 109);
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 80%;
    letter-spacing: 0px;
    margin-bottom: 10%;
    padding-left: -10%;
}
.main-adventeges{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20%;
    transform: translate(5%, 0%);
}
.adventeges{
    position: static;
    width: 276px;
    height: 280px;
}
.text-descrip{
    color: rgb(72, 70, 109);
    font-family: Poppins;
    font-size: 26px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: center;

    margin-top: 20%;
}
#text-descrip3{
    position: relative;
    right: 10%;
}
#text-descrip4{
    position: relative;
    right: 20%;
}
.text-placeholder-text{

    position: absolute;
    width: 111px;
    height: 32px;
    left: 124px;
    top: 2215px;

    transform: translate(200%, 40px); 
}
.text-o-nas{
    color: rgb(72, 70, 109);
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 80%;
    letter-spacing: 0px;
    text-align: center;
}
.img-text{
    display: flex;
    padding: 101px 74px;
}
.img-text>a{
    flex-direction: row;
}
.text_placeholder{

    position: absolute;
    width: 481px;
    height: 192px;

    color: rgb(72, 70, 109);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: left;
}

.text-aligner{
    display: block;
    padding-left: 29px;
    padding-top:25px;
}
.podrobnee{
    position: absolute;
    width: 481px;
    height: 192px;
    display: flex;
    text-decoration: none;
    
    margin-top: 200%;

    color: rgb(61, 132, 168);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: left;


}
.under-placeholder-text{
    width: 190px;
    height: 24px;

    color: rgb(72, 70, 109);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: left;
    
    position: absolute;
    left:210%;
    margin-top: -85%;
}